/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */
body{
  font-family: "Proxima Nova";
  font-weight: 100;
  line-height: 24px;

}
html, body{
  color: #505050;
  background: #f0ffff;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 100;
}
.wrapper{
  width: 80%;
  margin: 0 auto;
}


.clearfix:before,  .clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}

.button{
  border: 1px solid #9B9B9B;
  padding: .7rem 1.25rem;
  border-radius: .3rem;
  outline: none;
  background: white;
  color: #9B9B9B;
}
header{
 
  width: 100%;
  padding: 2rem 0;
  background: #ffffff;
  display: block;
  #searchbtn {
      
      position: relative;
      
      .visible-xs-block {
        display: block !important;
  }

      form {
        display: block;
        margin-top: 0em;
}

  }
 
    
   
  
  #logo {
      float: left;
      font-size: 14px;
      position: relative;
      
      margin-bottom: 0px;
      margin-left: 6px;
      margin-right: 0px;
      margin-top: 3px;
      vertical-align: middle;
      text-align: start;
      padding: 6px 0;
   
      
      a{
          color: #333233;
          cursor: pointer;
          text-decoration: none;
          line-height: 20px; 
          &:hover{
          color: #5DA7C7;
          }
          
      }
  }
  div {
    display: block;
}
 
  #bignav{
  display: none;
  background-color: rgb(246, 232, 206);
 }
 .container-fluid{
    padding-top: 0px;
    padding-right: 5%;
    padding-bottom: 0px;
    padding-left: 5%;
    max-width: 1370px;
    margin-right: auto;
    margin-left: auto;
 }

}

.navbar-form-mc .input-group {
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    line-height: 24px;

}
    .nav-hamburger {
        height: 40px;
        padding: 0 10px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 2px;
        font-size: 1.125rem;
        line-height: 40px;
      }
    .pull-right {
        float: right !important;
    } 
    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
.main-navigation{
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  border-bottom: 3px solid #elelel;
  margin-bottom: 35px;
}
.main-navigation .menu{
  padding: 0;
  margin: 0;
}
.main-navigation .menu li.nav-current{
  border-bottom: 3px solid #00cc00;
  margin-bottom: -2px;
}
.main-navigation .menu li{
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li a{
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
}

@import 'post.css.scss';