#post_show {
	padding-top: 2rem;
	padding-left: 2%;
	
	.post_image_content {
	border: 1px solid #E4E4E4;
	border-radius: 0.3rem;
		width: 50%;
		float: left;
		margin-right: 5%;
	}
	.data {
	padding: .75rem 5%;
					color: #969696;
					
	.username {
						margin: 0;
						font-size: 1rem;
					}
	.post_data{

					
					.username {
						float: left;
					}				
					
	}
	.post_info{
			margin: 0;
			font-size: .8rem;
			.buttons {
						float: left;
						span {
							margin-left: .5rem;

						}
						}
						.actions{
						float: right;
						span {
							margin-right: .5rem;

						}
						}
	}
				
			
	}
	#random_post {
		width: 25%;
		margin-left: 5%;
		margin-top: -3.2rem;
		float: left;
		h3 {
			font-size: 1rem;
		}
		.post {
			background: #F8F9FA;
			border: 1px solid #E4E4E4;
			border-radius: 0.3rem;
			.post_image {
				height: 200px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}
			.post_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					border-radius: 0.3rem;
					font-size: 1.25rem;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
				.data {
					padding: .75rem 5%;
					color: #969696;
					.username, .buttons {
						margin: 0;
						font-size: .8rem;
					}
					.username {
						float: left;
					}
					.buttons {
						float: right;
						span {
							margin-left: .5rem;

						}
					}
				}
			}
		}
	}
	h1 {
		margin: 0;
	    float:left;
		color: #333233;
	}

	img {
		width: 100%;
		border-radius: .3rem;
	}
	.username {
		color: #969696;

		margin: 0 0 1.5rem 0;
	}
	.content {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #969696;
	}
}

#comments {
	padding-bottom: 4rem;


	width: 50%;
	font-size: .8rem;
	.actions{
		margin: 0;
		
		float: right;
		span {
			margin-right: .5rem;

		}
	}
	
	.comment_count {
		padding-left: 2%;
		border-bottom: 1px solid #E9E9E9;
		padding-bottom: .5rem;
		margin-bottom: 0;

	}
	.comment {
		padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
		.username {
			font-size: 1.3rem;
			color: #333233;
			margin: 0 0 .5rem 0;
		}
		.content {
			margin: 0;
			color: #969696;
		}
	}
	.comment_form {
	padding-left: 5%;
	}
	.comment_content {
		margin-top: 2.5rem;
		margin-left: 0.1rem
		textarea {
			width: 100%;
			margin: 1rem 0;
			min-height: 150px;
			border: 1px solid #E4E4E4;
			background: #F8F9FA;
			border-radius: 0.3rem;
		}
			
	}
}
.comment_info{
			margin: 0;
			font-size: .8rem;
			
			.buttons {
						
						float: left;
						span {
							margin-left: .5rem;

						}
						}
						.actions{
						float: right;
						
						span {
							margin-right: .5rem;

						}
						}
	}
				
			
