



<span>
  <%=link_to"Approve", approve_post_path(@post), method: :patch%>
</span>
<span>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure to delete the post?"}%>
</span>

